In [3]:
# setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
# import seaborn as sns
import os
%matplotlib inline

In [4]:
# option 1 for data: https://www.visualcrossing.com/weather/weather-data-services#
houstonWeather = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Houston%2CTX/2015-12-01/2023-11-23?unitGroup=us&key=YOUR_API_KEY&contentType=json"
# use API to get json/csv, might need account?

In [27]:
# option 2: Use imported csvs (see datasets folder)
dataTest = pd.read_csv('datasets/htx_2019_weather.csv') 
dataTest.head()

,date,min_temp,max_temp,rainfall,wind_speed9am,wind_speed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,rain_today,rain_tomorrow
0,2019-01-01,44.0,64.0,0.0,8.0,9.0,83.0,54.0,30.12,30.05,Partly Cloudy,Cloudy,53.0,64.0,No,Yes
1,2019-01-02,51.0,57.0,3.2,14.0,12.0,92.0,92.0,30.07,29.92,Light Rain,Heavy Rain,51.0,51.0,Yes,Yes
2,2019-01-03,39.0,57.0,0.3,14.0,8.0,93.0,83.0,29.93,29.88,Light Rain,Cloudy,47.0,48.0,Yes,No
3,2019-01-04,37.0,62.0,0.0,9.0,12.0,80.0,48.0,30.03,29.96,Fair,Fair,43.0,61.0,No,No
4,2019-01-05,40.0,70.0,0.0,0.0,6.0,83.0,36.0,30.14,30.08,Fair,Fair,50.0,70.0,No,No

In [28]:
df_06 = pd.read_csv('datasets/htx_2006_weather.csv', na_values = 'Blank').dropna()
df_10 = pd.read_csv('datasets/htx_2010_weather.csv', na_values = 'Blank').dropna()
df_11 = pd.read_csv('datasets/htx_2011_weather.csv', na_values = 'Blank').dropna() 
df_12 = pd.read_csv('datasets/htx_2012_weather.csv', na_values = 'Blank').dropna() 
df_13 = pd.read_csv('datasets/htx_2013_weather.csv', na_values = 'Blank').dropna() 
df_14 = pd.read_csv('datasets/htx_2014_weather.csv', na_values = 'Blank').dropna()
df_15 = pd.read_csv('datasets/htx_2015_weather.csv', na_values = 'Blank').dropna()
df_18 = pd.read_csv('datasets/htx_2018_weather.csv', na_values = 'Blank').dropna()
df_19 = pd.read_csv('datasets/htx_2019_weather.csv', na_values = 'Blank').dropna()
df_21 = pd.read_csv('datasets/htx_2021_weather.csv', na_values = 'Blank').dropna()

df = pd.concat([df_06, df_10, df_11, df_12, df_13, df_14, df_15, df_18, df_19, df_21])
#check data types and for null values
df.info()

# no null values, but certain values are object instead of int for some reason?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3617 entries, 0 to 364
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3617 non-null   object
 1   min_temp       3617 non-null   float64
 2   max_temp       3617 non-null   float64
 3   rainfall       3617 non-null   float64
 4   wind_speed9am  3617 non-null   float64
 5   wind_speed3pm  3617 non-null   float64
 6   humidity9am    3617 non-null   float64
 7   humidity3pm    3617 non-null   float64
 8   pressure9am    3617 non-null   float64
 9   pressure3pm    3617 non-null   float64
 10  cloud9am       3617 non-null   object
 11  cloud3pm       3617 non-null   object
 12  temp9am        3617 non-null   float64
 13  temp3pm        3617 non-null   float64
 14  rain_today     3617 non-null   object
 15  rain_tomorrow  3617 non-null   object
dtypes: float64(11), object(5)
memory usage: 480.4+ KB

In [41]:
print(df.iloc[3000])

date             2019-04-20
min_temp                 51
max_temp                 77
rainfall                  0
wind_speed9am             5
wind_speed3pm             0
humidity9am              39
humidity3pm              28
pressure9am           30.09
pressure3pm           29.99
cloud9am               Fair
cloud3pm               Fair
temp9am                  67
temp3pm                  77
rain_today               No
rain_tomorrow            No
Name: 109, dtype: object

In [38]:
#show numeric vs categorical columns
numeric_cols = df._get_numeric_data().columns.tolist()
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

print("numeric cols:" , numeric_cols)
print("categorical cols:", categorical_cols)

numeric cols: ['min_temp', 'max_temp', 'rainfall', 'wind_speed9am', 'wind_speed3pm', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm', 'temp9am', 'temp3pm']
categorical cols: ['date', 'cloud9am', 'cloud3pm', 'rain_today', 'rain_tomorrow']